@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');

.cardMars {
     margin: 5px;
     background-color: rgba(0, 0, 0, 0);
     display: flex;
     width: 90%;
     height: fit-content;
     flex-direction: column;
     align-items: center;
     padding: 20px;
     border-radius: 30px;
     transition: box-shadow .3s;
     -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
     -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
     box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-sizing: border-box;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
     cursor: pointer; 
     color: #fff;
     align-items: stretch;
     z-index: 1;
}

.cardMars:hover {
     box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}
.card__circle{
     width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.circle {
     display: flex;
     height: 20px;
     width: 50%;
     gap: 5px;
}

.circle__red {
     background-color: red;
     width: 10px;
     height: 10px;
     display: inline-block;
     border-radius: 50%;
}

.circle__blue {
     background-color: blue;
     width: 10px;
     height: 10px;
     display: inline-block;
     border-radius: 50%;
}

.circle__green {
     background-color: green;
     width: 10px;
     height: 10px;
     display: inline-block;
     border-radius: 50%;
}

.cardMars__head {
     width: 100%;
    
}

.cardMars__info {
     display: flex;
     flex-direction: column;
     gap: 10px;
     font-family: 'Inter Tight', sans-serif;
     align-items: flex-start
}

.cardMars__date {
     font-size: 20px;
     font-weight: bolder;
     opacity: 0.4;
}

.loader{
     display: block;
}
.cardMars__img {
     object-fit: contain;
     object-position: center;
     width: 100%;
    display: none;
     max-height: 400px;
     border-radius: 10px;
     transition: 0.3s ease-in-out;
}

.cardMars__img:hover {
     box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
     border: 1px solid rgba(255, 255, 255, 0.3);
     transform: scale(100.50%);
}

.card_title {
     text-align: center;
}

.card_content {
     text-align: justify;
}
.cardMars__name{
     display: flex;
     gap: 10px;
     flex-wrap: wrap
}
@media screen and (min-width:700px) {
    
     .cardMars__img{
          width: 90%;
     }
     lottie-player {
          margin: 5%;
     }
}
@media screen and (min-width:1120px) {
     .cardMars__info {
          justify-content: space-between;
     }
     
}